#main {
    padding-top: calc(4px);
}

@media (min-width: 992px) {
    #main {
      padding-top: calc(104px);
    }
}

@font-face {
    font-family: "kawage font";
    src: 
    url("fonts/Azonix-1VB0.otf") format("opentype");
}

.navbar-brand {
    font-family: "kawage font";
    /* text-transform: lowercase; */
    font-size: 2.9em;
}

.bbb-bg-primary {
    background-color: #FF5733;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    border-bottom: 2px solid transparent;
    transition: border-bottom .2s, color .2s;

}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color:#17a98c;
    border-color: #17a98c;

}

#mainNav .navbar-nav li.nav-item a.nav-link:active {
    background: none;
    color: white;
    border-color: white;

}

.masthead {
    background-image: url("../theme/assets/img/portfolio/billy.jpg");
    background-repeat: no-repeat;
    background-size: 100% 180%;
    padding-bottom: 12rem;
    padding-top: 10rem;

}

.from-label {
    font-size: 5em;

}

.masthead-heading8 {
    top: 65%;
    right: 2%;
    position:absolute; 

}


