{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<header class="py-10 mb-4 bg-gradient-primary-to-secondary">
   <div class="container-xl px-4">
      <div class="text-center">
         <br><br>
         <h1 class="text-white">Welcome to true Multi-Cloud Automation</h1>
         <p class="lead mb-0 text-white-50">A single place to transparently automate multicloud deployments</p>
      </div>
   </div>
</header>

<head>
   <meta name="viewport" content="width=device-width, initial-scale=2">
   <script>
      var subjectObject = {
         "Azure": {
            "Virtual Networking": ["VPN Gateway", "Load Balancer", "Application Gateway", "Network"],
            "Virtual Machines": ["Desktop", "WVDs", "Databases", "DC's"],
            "App Services": ["Variables", "Operators", "Functions", "Conditions"]
         },
         "AWS": {
            "PHP": ["Variables", "Strings", "Arrays"],
            "SQL": ["SELECT", "UPDATE", "DELETE"]
         }
      }
      window.onload = function () {
         var subjectSel = document.getElementById("subject");
         var topicSel = document.getElementById("topic");
         var chapterSel = document.getElementById("chapter");
         for (var x in subjectObject) {
            subjectSel.options[subjectSel.options.length] = new Option(x, x);
         }
         subjectSel.onchange = function () {
            //empty Chapters- and Topics- dropdowns
            chapterSel.length = 1;
            topicSel.length = 1;
            //display correct values
            for (var y in subjectObject[this.value]) {
               topicSel.options[topicSel.options.length] = new Option(y, y);
            }
         }
         topicSel.onchange = function () {
            //empty Chapters dropdown
            chapterSel.length = 1;
            //display correct values
            var z = subjectObject[subjectSel.value][this.value];
            for (var i = 0; i < z.length; i++) {
               chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);
            }
         }
      }
   </script>
</head>
<div class="container mt-3">

   <body>
      <form name="form1" id="form1" action="/action_page.php">
         <p style="font-size:24px;">
            Choose a cloud: </span> &nbsp;&nbsp;&nbsp;&nbsp; </p><select class="form-select" name="subject"
            id="subject">
            <option value="" selected="selected">Select cloud</option>
         </select>
         <br><br>
         <p style="font-size:24px;">
            Chose a component: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         </p><select class="form-select" name="topic" id="topic">
            <option value="" selected="selected">Please select subject first</option>
         </select>
         <br><br>
         <p style="font-size:24px;">
            Select the element: &nbsp;&nbsp;</p><select class="form-select" name="chapter" id="chapter">
            <option value="" selected="selected">Please select topic first</option>
         </select>
         <br><br>
         <button type="submit" class="btn btn-primary">Submit</button>
      </form>

   </body>
</div>

</html>
{% endblock %}