{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<html>

<body>
   <div class="container mt-3">
      <div class="form-check form-switch">
         <input class="form-check-input" onclick="myFunction()" type="checkbox" id="mySwitch" name="darkmode"
            value="yes" checked>
         <label class="form-check-label" for="mySwitch">MD5 Password?</label>
      </div>

      <form action="/action_page.php">
         <div class="form-floating mb-3 mt-3" id="myDIV">
            <textarea class="form-control" id="comment" name="text" placeholder="Comment goes here"></textarea>
            <label for="comment">Enter Password</label>
         </div>
      </form>

      <script>
         function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
               x.style.display = "block";
            } else {
               x.style.display = "none";
            }
         }
      </script>
   </div>

</body>

</html>
{% endblock %}